.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    width: 600px;
    height: 400px;
    background-color: lightgray;
}
.first {
    align-self: flex-start;
    padding: 10%;
    border: 1px solid black;
}

.second {
    align-self: flex-end;
    padding: 10%;
    border: 1px solid black;
}
.third {
    align-self: center;
    padding: 10%;
    border: 1px solid black;
}
.fourth {
    align-self: flex-start;
    padding: 10%;
    border: 1px solid black;
}

.fifth {
    align-self: stretch;
    padding: 10%;
    border: 1px solid black;
}